body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-buttons {
  border: 0;
  background: transparent;
  color: #212529 !important;
  margin: 12px 24px;

  /* border-radius: 20px; */
}

.custom-buttons.active {
  border-bottom: 3px solid #1098ad;
  color: #1098ad !important;
}

.image-box {
  transition: 0.2s;
}

.image-box:hover {
  box-shadow: 0 0 5px #000;
  transform: scale(1.05);
}

.fade-in {
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row.border {
  border: 1px solid #dee2e6;
  transition: all 0.3s ease;
}

.row.border:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th {
  font-weight: bold;
  color: #333; /* Màu sắc tùy chọn */
}

.table th {
  font-family: "Arial", sans-serif; /* Kiểu chữ tùy chọn */
  font-size: 16px; /* Cỡ chữ tùy chọn */
  background-color: #f8f9fa; /* Màu nền tùy chọn */
  border-color: #dee2e6; /* Màu border tùy chọn */
}

.wrapper-modal {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 32%;
  padding-bottom: 25%;
  justify-content: center;
  align-items: center;
}

.wrapper-modal .modal-body {
  height: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #1098ad; /* Màu của thanh cuộn */
  border-radius: 5px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #5d3d2e; /* Màu của thanh cuộn khi hover */
}
