body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.custom-buttons {
  border: 0;
  background: transparent;
  color: #212529 !important;
  margin: 12px 24px;

  /* border-radius: 20px; */
}

.custom-buttons.active {
  border-bottom: 3px solid #25c19f;
  color: #25c19f !important;
}

.image-box {
  transition: 0.2s;
}

.image-box:hover {
  box-shadow: 0 0 5px #000;
  transform: scale(1.05);
}

.fade-in {
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row.border {
  border: 1px solid #dee2e6;
  transition: all 0.3s ease;
}

.row.border:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th {
  font-weight: bold;
  color: #333; /* Màu sắc tùy chọn */
}

.table th {
  font-family: "Arial", sans-serif; /* Kiểu chữ tùy chọn */
  font-size: 16px; /* Cỡ chữ tùy chọn */
  background-color: #f8f9fa; /* Màu nền tùy chọn */
  border-color: #dee2e6; /* Màu border tùy chọn */
}

.wrapper-modal {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 32%;
  padding-bottom: 25%;
  justify-content: center;
  align-items: center;
}

.wrapper-modal .modal-body {
  height: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  z-index: 1000;
}

/* Custome scroll bar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #1098ad; /* Màu của thanh cuộn */
  border-radius: 5px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #5d3d2e; /* Màu của thanh cuộn khi hover */
}

/* Custom header color  */
.navbar-nav .nav-item .nav-link.active {
  color: #25c19f !important;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link {
  color: #e3e3e3 !important;
}

.navbar-nav {
  background-color: #242526 !important;
}

/* Custom login form  */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

/* Rating */
.rating {
  background-color: #343a40;
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
